
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
} */

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper3 {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper3 .swiper-slide {
  width: 25%;
  /* height: 100%; */
  opacity: 0.4;
  cursor: pointer;
}

.mySwiper3 .swiper-slide-thumb-active {
  opacity: 1;
}

/* .swiper-button-prev {
 background-color: #EA3A51;
 border-radius: 100%;
 height: 40px;
 width: 40px;
 background-image: none;
}


.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */
